p{
	font: 18px "Arial Black", "Helvetica Bold", sans-serif;
	color:navy;  
}
#container{
	border-style:solid;
	width:640px;
	margin:auto;
}
html,body{
	height: 100%;
}
#mapholder {
	width:640px;
	height:480px;
}
#controlPanel{
	padding: 20px;
}

button{
	margin: 10px;
}

input {
	width:100px;
}