p 
{
	font: 18px "Arial Black", "Helvetica Bold", sans-serif;
	color:navy;  
}

#table img
{
	position: absolute;
	display: block;
	margin: auto auto;
	padding:0px;
	border: 1px solid black;
	/*width: 100px;
	height: 150px;*/
}
#table
{
	position: relative;
	height: 500px;
	background-color:green;
	min-width:480px;
	max-width:960px;
	margin: 0 auto;
}
#controls
{
	padding-top: 50px;
}
#card1
{
	top:200px;
	left:200px;
}